body {
	background-color: #164B00;
	text-align: center;
}
header {
	text-align: center;
}
img{
	height: 120px;
	width: 80px;
}



footer{
	color: white;
	font-size: 10px;
}

#imgmodal{
	width: 140px;
	height: 240px;
}
#blackjacklogo{
	width: 30%;
	height: 100%;
}
#blackjacktable{
	width: 90%;
	height: 100%;
	border: 2px solid #868223;
}
#game-rules{
	font-family: 'Fredericka the Great', cursive;
}
#dealer-hand{
	position: absolute;
	top: 330px;
	left: 550px;
}
#player-hand{
	position: absolute;
	top: 620px;
	left: 550px;
}
.hit-stand{
	position: absolute;
	top: 800px;
	left: 550px;
}
.player-cash {
	position: absolute;
	top: 730px;
	left: 130px;
	color: #868223;
	font-family: 'Fredericka the Great', cursive;
}
.bet-total{
	position: absolute;
	top: 590px;
	left: 190px;
	color: #868223;
	font-family: 'Fredericka the Great', cursive;
}
.player-bet{
	font-size: 40px;
}
.player-balance {
	font-size: 40px;
	color: #868223;
	font-family: 'Fredericka the Great', cursive;
}
#dealer-value{
	position: absolute;
	top: 440px;
	left: 630px;
	font-size: 40px;
	color: #7D0808;
	font-family: 'Fredericka the Great', cursive;
}
#player-value{
	position: absolute;
	top: 560px;
	left: 630px;
	font-size: 40px;
	color: #7D0808;
	font-family: 'Fredericka the Great', cursive;
}
#bet-button{
	color: #868223;
	font-family: 'Fredericka the Great', cursive;
}
#hit {
	background-color: #295B22;
	color: #868223;
	font-family: 'Fredericka the Great', cursive;
}
#stand {
	background-color: #7E2C2F;
	color: #868223;
	font-family: 'Fredericka the Great', cursive;
}

#deal-card{
	position: absolute;
	left: 600px;
	top: 750px;
	background-color: #1CBBD0;
}
